USE [master]
GO
/****** Object:  Database [emlak]    Script Date: 22.7.2019 15:38:24 ******/
CREATE DATABASE [emlak]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'emlak', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\emlak.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'emlak_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\emlak_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [emlak].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [emlak]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 22.7.2019 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[admin_ad] [varchar](50) NOT NULL,
	[admin_soyad] [varchar](50) NOT NULL,
	[admin_kullanici] [varchar](50) NOT NULL,
	[admin_sifre] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ilan]    Script Date: 22.7.2019 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ilan](
	[ilan_no] [int] IDENTITY(1,1) NOT NULL,
	[urun_tipi] [tinyint] NOT NULL,
	[urun_durumu] [tinyint] NOT NULL,
	[urun_adi] [varchar](max) NOT NULL,
	[metrekare] [int] NOT NULL,
	[aciklama] [varchar](max) NOT NULL,
	[uye_id] [int] NOT NULL,
	[il] [varchar](50) NOT NULL,
	[ilce] [varchar](50) NOT NULL,
	[url] [varchar](max) NOT NULL,
	[ilan_tarihi] [date] NOT NULL,
	[urun_fiyat] [money] NOT NULL,
	[oda_salon_bolum] [varchar](50) NULL,
	[banyo_sayisi] [tinyint] NULL,
	[isinma] [varchar](50) NULL,
	[bina_yasi] [tinyint] NULL,
 CONSTRAINT [PK_ilan] PRIMARY KEY CLUSTERED 
(
	[ilan_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 22.7.2019 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilceler](
	[id] [int] NOT NULL,
	[ilce] [nvarchar](255) NULL,
	[sehir] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[iller]    Script Date: 22.7.2019 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehir] [nvarchar](255) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mesajlar]    Script Date: 22.7.2019 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesajlar](
	[mesaj_id] [int] IDENTITY(1,1) NOT NULL,
	[mesaj] [nvarchar](max) NOT NULL,
	[giden_uye_id] [int] NOT NULL,
	[gelen_uye_id] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[uyeler]    Script Date: 22.7.2019 15:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[uyeler](
	[uye_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NOT NULL,
	[soyad] [varchar](50) NOT NULL,
	[eposta] [varchar](50) NOT NULL,
	[sifre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_uyeler] PRIMARY KEY CLUSTERED 
(
	[uye_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([admin_id], [admin_ad], [admin_soyad], [admin_kullanici], [admin_sifre]) VALUES (1, N'fatih', N'kara', N'fkara', N'123')
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[ilan] ON 

INSERT [dbo].[ilan] ([ilan_no], [urun_tipi], [urun_durumu], [urun_adi], [metrekare], [aciklama], [uye_id], [il], [ilce], [url], [ilan_tarihi], [urun_fiyat], [oda_salon_bolum], [banyo_sayisi], [isinma], [bina_yasi]) VALUES (3, 0, 0, N'Bayrampaşada 2+1 SİTE İÇİNDE değil', 36, N'kullanım alanına Sahip Barbekülü Yapay şelaleli Hidrofor ve su deposu bulunan 200m2

terasa sahip Orman ve Ova Manzaralı Otopark İmkanı bulunan Büyük Havuzlu Eşsiz

Villa
', 22, N'İSTANBUL', N'BAYRAMPAŞA', N'2.jpg', CAST(N'2019-07-02' AS Date), 300000.0000, N'3+1', 2, N'Soba', 10)
SET IDENTITY_INSERT [dbo].[ilan] OFF
SET IDENTITY_INSERT [dbo].[ilceler] ON 

INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[ilceler] OFF
SET IDENTITY_INSERT [dbo].[iller] ON 

INSERT [dbo].[iller] ([id], [sehir]) VALUES (1, N'ADANA')
INSERT [dbo].[iller] ([id], [sehir]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[iller] ([id], [sehir]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[iller] OFF
SET IDENTITY_INSERT [dbo].[mesajlar] ON 

INSERT [dbo].[mesajlar] ([mesaj_id], [mesaj], [giden_uye_id], [gelen_uye_id]) VALUES (94, N'az diyorsun bence', 23, 22)
INSERT [dbo].[mesajlar] ([mesaj_id], [mesaj], [giden_uye_id], [gelen_uye_id]) VALUES (65, N'Ürüne son kaç diyon kardeş ?', 22, 23)
INSERT [dbo].[mesajlar] ([mesaj_id], [mesaj], [giden_uye_id], [gelen_uye_id]) VALUES (66, N'Hala satılıkmı başkan?', 22, 23)
SET IDENTITY_INSERT [dbo].[mesajlar] OFF
SET IDENTITY_INSERT [dbo].[uyeler] ON 

INSERT [dbo].[uyeler] ([uye_id], [ad], [soyad], [eposta], [sifre]) VALUES (22, N'mehmet', N'aksu', N'1512@gmail.com', N'tatbe8xy5')
INSERT [dbo].[uyeler] ([uye_id], [ad], [soyad], [eposta], [sifre]) VALUES (23, N'fatih', N'kara', N'fatihkara1512@gmail.com', N'tatbe8xy5')
INSERT [dbo].[uyeler] ([uye_id], [ad], [soyad], [eposta], [sifre]) VALUES (24, N'osman', N'topal', N'', N'tatbe8xy5')
SET IDENTITY_INSERT [dbo].[uyeler] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__uyeler__2549FEE6A3516F60]    Script Date: 22.7.2019 15:38:24 ******/
ALTER TABLE [dbo].[uyeler] ADD UNIQUE NONCLUSTERED 
(
	[eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
